#wrapper {
  width: 960px;
  margin: 0 auto;

}

header {
  height: 120px;
  width: 960px;
  background: url("Header2.jpg") no-repeat center center;
  background-size: cover;
  color: black;
  text-align: center;
  line-height: 120px;
  font-size: 28px;
  font-weight: bold;
  box-sizing: border-box;
}

nav {
  background: #DFDFDF;
  height: 40px;
  width:958px;
  float:left;
  border:#AAAAAA 1px solid;
  overflow:auto;
}
nav ul{
	list-style:none;
	float:left;
	overflow:auto;
	margin:0px;
	padding:0px;
}
nav ul li{
	display:block;
	float:left;
	padding:5px 10px 5px 10px;
	margin:0px;
	border-right:#AAAAAA 1px solid;
}
nav ul li .submenu{
	display:none;
}
nav ul il:hover .submenu{
	display:block;
	margin:0px;
	width:100px;
	position:absolute;
	margin-top:5px;
	border:#AAAAAA 1px solid;
	background:DFDFDF;
	margin-left:-11;
}
nav ul il:hover .submenu li{
	display:block;
	width:89px;
	padding:5px;
	float:left;
	border:none;
}
nav ul li:hover{
	background:#EDEDED;
}
nav ul il a{
	color:#000000;
	text-decoration:none;
}
nav ul il a:hover{
	text-decoration:underline;
}
#main {
  overflow: auto;
}

#wrapper article {
    width: 620px;
    float: left;
    padding: 10px;
}

#wrapper article #single {
    margin: 5px;
    border: #DFDFDF 1px solid;
    padding: 5px;
    font-size: 13px;
    float: left;
    overflow: auto;
    text-align: justify;
}

#wrapper article #single #t-images {
    width: 150px;
    height: 150px;
    float: left;
    overflow: auto;
    margin-right: 5px;
}

#wrapper article #single h2 {
    margin: 0px;
    font-family: Tahoma;
    font-size: 18px;
    padding: 5px;
    border: #DFDFDF 1px solid;
    background: #EEEEEE;
}
#wrapper article #single #more a {
    float: right;
    overflow: auto;
    border: #FF9933 1px solid;
    background: #CF6;
    padding: 2px 10px 2px 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-top: 10px;
    text-align: center;
    text-decoration: none;
    color: #000000;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

#wrapper article #single #more a:hover {
    background: #BD6;
    color: #093;
    border: #CC6600 1px solid;
}
#wrapper aside {
    width: 300px;
    float: left;
    padding: 10px;
}

#wrapper aside .widget {
    list-style: none;
}

#wrapper aside .widget ul {
    list-style: none;
    margin-left: -40px;
}

#wrapper aside .widget li a {
    text-decoration: none;
    color: #446500;
}

#wrapper aside .widget li a:hover {
    text-decoration:underline;
}

footer {
  width: 960px;
  margin: 0 auto;
  background: #333333;
  color: #BBBBBB;
  display: flex;
  justify-content: space-between;
  padding: 15px 10px;
  box-sizing: border-box;
  font-family: Tahoma, sans-serif;
  font-size: 14px;
}

footer .column {
  width: 30%;
}

footer .column h2 {
  margin: 0 0 10px 0;
  font-size: 18px;
  color: #FFFFFF;
  font-weight: bold;
}

footer .column p {
  margin: 0;
  line-height: 1.6;
}

footer .column a {
  color: #0099CC;
  text-decoration: none;
}

footer .column a:hover {
  text-decoration: underline;
}

/* Responsif: agar rapi di layar kecil */
@media (max-width: 768px) {
  footer {
    flex-direction: column;
    text-align: center;
  }

  footer .column {
    width: 100%;
    margin-bottom: 15px;
  }
}
.full-article {
  width: 70%;
  margin: 20px auto;
  background: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  line-height: 1.6;
}

.full-image {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  border-radius: 8px;
}

.back-btn {
  display: inline-block;
  margin-top: 20px;
  background: #008000;
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
}

.back-btn:hover {
  background: #006400;
}

